@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 400;

  overflow-x: hidden;
}

section {
  height: 100vh;
  overflow-y: hidden;
}

h1,
h2,
h3 {
  font-family: var(--font-unbounded);
  font-weight: 400;

  margin-bottom: var(--elem-spacer-nm);
}

h1 {
  font-size: clamp(2.5rem, 5vw + 1rem, 4.375rem);
}

h2 {
  font-size: clamp(1.25rem, 2vw + 1rem, 3.438rem);
}